Source: training-data-generation
Section: unknown
Priority: optional
Maintainer: Monica Perez Serrano <monicapserrano@outlook.com>
Build-Depends: debhelper-compat (= 12), dh-python, python3-setuptools, python3-all
Standards-Version: 4.4.1

Package: python3-training-data-generation
Architecture: all
Depends:
Suggests: python-training-data-generation-doc
Description: Generation of training data for text to CAD model.

Package: python-training-data-generation-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: Documentation package
